<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meditation</title>
  <link rel="stylesheet" href="meditate.css">
  <link rel="stylesheet" href="mandala.css">
</head>

<body>

<!-- Calming; Ground yourself and refocus -->
<!-- Motivational; Get up and get running -->

<img class="bg-watercolor" src="watercolor-leaves.png">

<div class="mandala-container">
  <div class="outer-tracer-1"></div>
  <div class="outer-tracer-2"></div>
  <div class="outer-tracer-3"></div>
  <div class="mid-tracer-1"></div>
  <div class="mid-tracer-2"></div>
  <div class="mid-tracer-3"></div>
  <img class="mandala-layer-1" src="mandala-layer-1.svg">
  <img class="mandala-layer-2" src="mandala-layer-2.svg">
  <img class="mandala-layer-3" src="mandala-layer-3.svg">
  <img class="mandala-layer-4" src="mandala-layer-4.svg">
</div>
<script src="meditate.js"></script>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/11.3.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.3.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyA5WBd8CXC75Uyudec1eIIGXyspOyu-7CU",
    authDomain: "daddy-helps-you-relax.firebaseapp.com",
    projectId: "daddy-helps-you-relax",
    storageBucket: "daddy-helps-you-relax.firebasestorage.app",
    messagingSenderId: "676296372114",
    appId: "1:676296372114:web:ca6e4d608447f430931b4b",
    measurementId: "G-EHRQGKQJJF"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

</body>

</html>