<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meditation</title>
  <link rel="stylesheet" href="meditate.css">
  <link rel="stylesheet" href="mandala.css">
</head>

<body>

  <!-- Calming; Ground yourself and refocus -->
  <!-- Motivational; Get up and get running -->

  <div class="menu">
    <h1>Daddy Helps You Relax</h1>
    <div class="spacer"></div>
    <div>About Us</div>
    <div>FAQ</div>
    <div class="selected">Meditate</div>
  </div>

  <div class="dialog-box">
    <h1>Personalize Your Meditation</h1>
  </div>

  <img class="bg-watercolor" src="watercolor-leaves.png">

  <div class="mandala-container">
    <div class="outer-tracer-1"></div>
    <div class="outer-tracer-2"></div>
    <div class="outer-tracer-3"></div>
    <div class="mid-tracer-1"></div>
    <div class="mid-tracer-2"></div>
    <div class="mid-tracer-3"></div>
    <img class="mandala-layer-1" src="mandala-layer-1.svg">
    <img class="mandala-layer-2" src="mandala-layer-2.svg">
    <img class="mandala-layer-3" src="mandala-layer-3.svg">
    <img class="mandala-layer-4" src="mandala-layer-4.svg">
  </div>
  <script src="meditate.js"></script>
</body>

</html>